# MQTT
MQTT_HOST=mqtt
MQTT_PORT=1883

# Services internes (réseau Docker)
TELEMETRY_URL=http://telemetry:8003
LLM_URL=http://llm:8001

# Ollama (serveur distant sur le LAN)
OLLAMA_URL=http://192.168.1.16:11434
OLLAMA_MODEL=VladimirGav/gemma4-26b-16GB-VRAM:latest
OLLAMA_CONTEXT_LENGTH=8192
